# Node.js dependencies
node_modules/

# Byte-compiled files
__pycache__/
*.py[cod]

# Build output
build/

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
