# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# VSCode settings
.vscode/

# Service account credentials
serviceAccountKey.json

# Environment variables
.env

# Logs
*.log
firestore_read_log.json
